<section class="album-covers container clearfix">
    <div class="collection-album-container column fourth" ng-repeat="album in collection.albums">
        <img src=""/>
        <div class="collection-album-info caption">
            <p>
                <a class="album-name" href="album"></a>
                <br/>
                <a ui-sref="album"></a>
                <br/>
                 songs
                <br/>
            </p>
        </div>
    </div>
</section>

 <ng-include src="'/templates/player_bar.html'"></ng-include>
